# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from config import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
#Read csv file
df = pd.read_csv('../output_data/cities.csv')
df

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,Esperance,40,AU,1579902921,93,-33.87,121.90,60.80,8.05
1,Bredasdorp,28,ZA,1579903101,88,-34.53,20.04,68.00,1.12
2,Cabo San Lucas,90,MX,1579903026,56,22.89,-109.91,72.00,5.86
3,Portland,90,US,1579902927,76,45.52,-122.68,55.99,5.82
4,Upernavik,73,GL,1579903082,96,72.79,-56.15,-13.31,5.01
...,...,...,...,...,...,...,...,...,...
587,Sikandra,0,IN,1579903913,67,26.37,79.65,50.43,3.83
588,Ayna,75,PE,1579903914,46,-12.65,-73.92,71.60,8.05
589,Manuel Roxas,90,PH,1579903915,92,6.45,124.67,70.45,1.48
590,Zafarabad,1,IN,1579903916,76,25.70,82.73,49.93,3.33
591,Arrondissement de Dinan,90,FR,1579903916,100,48.42,-2.25,39.00,8.05

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [19]:
#Add API key to gmaps
gmaps.configure(api_key=g_key)

#List with tuples for coordinates
coords = list(zip(df['Lat'], df['Lng']))

#Layout
figure_layout = {
    'width': '900px',
    'height': '600px',
    'border': '1px solid black',
    'padding': '1px',
    'margin': '0 auto 0 auto'
}

#Putting it together
fig = gmaps.figure(layout=figure_layout)
heat_layer = gmaps.heatmap_layer(coords, weights = df['Humidity'], dissipating=False, max_intensity=df['Humidity'].max(),point_radius=3)
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(border='1px solid black', height='600px', margin='0 auto 0 auto', padding='1px', wi…

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [30]:
#Narrow down the DataFrame to find your ideal weather condition. For example:
#A max temperature lower than 80 degrees but higher than 70.
#Wind speed less than 10 mph.
#Zero cloudiness.
#Drop any rows that don't contain all three conditions. You want to be sure the weather is ideal.
#Note: Feel free to adjust to your specifications but be sure to limit the number of rows returned by your API requests to a reasonable number.

ideal_weather = df.loc[(df['Max Temp'] < 80) & (df['Max Temp'] > 70) & (df['Wind Speed'] < 10) & (df['Cloudiness'] == 0)]
ideal_weather

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
32,Cockburn Town,0,TC,1579903117,53,21.46,-71.14,76.26,3.80
172,Koumac,0,NC,1579903662,69,-20.57,164.28,76.37,4.81
223,San Vicente,0,AR,1579903691,75,-26.62,-54.13,77.00,6.31
229,Rio Grande,0,BR,1579903436,65,-32.03,-52.10,78.80,8.05
320,Gboko,0,NG,1579903750,10,7.32,9.00,76.19,6.85
336,De Aar,0,ZA,1579903761,17,-30.65,24.01,74.97,9.24
477,Beterou,0,BJ,1579903846,9,9.20,2.26,75.83,6.02
536,Yaan,0,NG,1579903883,9,7.38,8.57,76.60,5.57

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in narrowed_city_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map


# Display Map