# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [8]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from config import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [5]:
df = pd.read_csv('../output_data/cities.csv')
df

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,Esperance,40,AU,1579902921,93,-33.87,121.90,60.80,8.05
1,Bredasdorp,28,ZA,1579903101,88,-34.53,20.04,68.00,1.12
2,Cabo San Lucas,90,MX,1579903026,56,22.89,-109.91,72.00,5.86
3,Portland,90,US,1579902927,76,45.52,-122.68,55.99,5.82
4,Upernavik,73,GL,1579903082,96,72.79,-56.15,-13.31,5.01
...,...,...,...,...,...,...,...,...,...
587,Sikandra,0,IN,1579903913,67,26.37,79.65,50.43,3.83
588,Ayna,75,PE,1579903914,46,-12.65,-73.92,71.60,8.05
589,Manuel Roxas,90,PH,1579903915,92,6.45,124.67,70.45,1.48
590,Zafarabad,1,IN,1579903916,76,25.70,82.73,49.93,3.33
591,Arrondissement de Dinan,90,FR,1579903916,100,48.42,-2.25,39.00,8.05

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in narrowed_city_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map


# Display Map